@{
    ViewBag.Title = BeeShop.Lang.atribute_add_header;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="wrapper">
        <!-- Navigation -->
        @Html.Partial("~/Views/_vMenu.cshtml")

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">@BeeShop.Lang.atribute_edit_header</h1>                        
                    </div>
                    <!-- /.col-lg-12 -->
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    @BeeShop.Lang.atribute_add_header_notice
                                    <button type="button" class="btn btn-primary" onclick="Update();">Save</button>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <form role="form">
                                                <div class="form-group">
                                                    <label>@BeeShop.Lang.atribute_field_name</label>
                                                    <input class="form-control"  id="name" value="@ViewBag.name">
                                                </div>
                                                <div class="form-group">
                                                    <label>@BeeShop.Lang.atribute_field_des</label>
                                                    <textarea class="form-control"  id="description" maxlength="505">@ViewBag.description</textarea>
                                                </div>                                                
                                                <div class="form-group">
                                                    <label>@BeeShop.Lang.atribute_field_parent_atribute</label>
                                                    <select class="form-control" id="parent">                                                        
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>@BeeShop.Lang.atribute_field_order_no</label>
                                                    <select class="form-control" id="order_no"> 
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>                                                       
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>                                                       
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>                                                       
                                                        <option value="7">7</option>
                                                        <option value="8">8</option> 
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>                                                       
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>                                                       
                                                        <option value="13">13</option>
                                                        <option value="14">14</option>                                                       
                                                        <option value="15">15</option>
                                                        <option value="16">16</option> 
                                                        <option value="17">17</option>
                                                        <option value="18">18</option>                                                       
                                                        <option value="19">19</option>
                                                        <option value="20">20</option>                                                       
                                                        <option value="21">21</option>
                                                        <option value="22">22</option>                                                       
                                                        <option value="23">23</option>
                                                        <option value="24">24</option> 
                                                        <option value="25">25</option>
                                                        <option value="26">26</option>                                                       
                                                        <option value="27">27</option>
                                                        <option value="28">28</option>                                                       
                                                        <option value="29">29</option>
                                                        <option value="30">30</option>                                                       
                                                        <option value="31">31</option>
                                                        <option value="32">32</option>                                                        
                                                    </select>
                                                </div>
                                                <!-- Cac thuoc tinh rieng -->
                                                <div class="form-group">
                                                    <label>@BeeShop.Lang.atribute_field_type</label>
                                                    @Html.Partial("~/Views/_vTypeInput.cshtml")
                                                </div>  
                                                <div class="form-group">
                                                    <label>@BeeShop.Lang.atribute_field_default_value</label>
                                                    <input class="form-control"  id="default_value">
                                                </div> 
                                                <div class="form-group">
                                                    <label>@BeeShop.Lang.atribute_field_required</label>
                                                    <select id="required" name="required" class="form-control">
                                                        <option value="1">Yes</option>
                                                        <option value="0">No</option>                                                      
                                                    </select>

                                                </div>  
                                                <div class="form-group">
                                                    <label>@BeeShop.Lang.atribute_field_apply_to</label>
                                                    @Html.Partial("~/Views/_vProductTypeApply.cshtml")
                                                </div> 
                                                <div class="form-group">
                                                    <label>@BeeShop.Lang.atribute_field_comparable</label>
                                                    <select id="comparable" name="comparable" class="form-control">
                                                        <option value="1">Yes</option>
                                                        <option value="0">No</option>                                                      
                                                    </select>
                                                </div> 
                                                <div class="form-group">
                                                    <label>@BeeShop.Lang.atribute_field_validate</label>
                                                    <select id="validate" name="validate" class="form-control">
                                                        <option value="1">Yes</option>
                                                        <option value="0">No</option>                                                      
                                                    </select>
                                                </div> 
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
<script>    
    document.getElementById("order_no").value="@ViewBag.order_no";
    document.getElementById("type").value="@ViewBag.type";
    document.getElementById("default_value").value="@ViewBag.default_value";
    document.getElementById("required").value="@ViewBag.required";
    setAllSelected("apply_to","@ViewBag.apply_to");//document.getElementById("apply_to").value=
    document.getElementById("comparable").value="@ViewBag.comparable";
    document.getElementById("validate").value="@ViewBag.validate";    
    //document.getElementById("parent").value="@ViewBag.parent";
    function Update() {
        var formdata = new FormData(); //FormData object
        var id=@ViewBag.id
        var name = document.getElementById("name").value;
        var description = document.getElementById("description").value;    
        var type = document.getElementById("type").value;
        var default_value = document.getElementById("default_value").value;
        var required = document.getElementById("required").value;
        var apply_to = getAllSelected("apply_to");
        var comparable = document.getElementById("comparable").value;
        var validate = document.getElementById("validate").value;
        var parent = document.getElementById("parent").value;
        var order_no = document.getElementById("order_no").value;
        //var depth = $("#parent option:selected").attr("depth");
        //depth=parseInt(depth)+1;
        if (name==""){
            alert("@BeeShop.Lang.alert_input_name_field");
            return;
        }
        //alert(depth + "_" + parent);
        //return;
        formdata.append("id", id);
        formdata.append("name", name);
        formdata.append("description", description);    
        formdata.append("type", type);
        formdata.append("default_value", default_value);
        formdata.append("required", required);
        formdata.append("apply_to", apply_to);
        formdata.append("comparable", comparable);
        formdata.append("validate", validate);
        formdata.append("parent", parent);      
        formdata.append("order_no", order_no);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/Atribute/Edit_Update');
        xhr.send(formdata);
        var content = "";
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                if (xhr.responseText == "1") {
                    //alert("@BeeShop.Lang.alert_save_success");
                    window.location.href = "/Atribute/Index";
                } else {
                    alert("@BeeShop.Lang.alert_save_not_success");
                }
            }
            @*else {
                alert("@BeeShop.Lang.alert_save_not_success");
            }*@
        }
    }
    function getAllNodeAtribute(idselected,parentid) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/Atribute/getAllNodeAtribute?idselected=' + idselected+"&parentid="+parentid);
        xhr.send();
        var content = "";
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                $("#parent").html(xhr.responseText);
                //$("#atributelist").val(value);
                //alert(news);
            }
        }
    }
    getAllNodeAtribute(@ViewBag.id,@ViewBag.parent);
</script>